{% extends 'base.html' %}

{% block title %}
  Reports - Quota Reform Protest Archive
{% endblock %}

{% block content %}
  {% load bleach_tags %}
  <div class="container mt-5">
    <div class="card">
      <div class="card-header bg-blood text-white">
        <h2 class="card-title">{{ event.title }}</h2>
        <p class="card-text">{{ event.date }}</p>
      </div>
      <div class="card-body">
        <p class="card-text">{{ event.description|bleach }}</p>
      </div>
    </div>
  </div>
{% endblock %}
