{% extends 'base.html' %}
{% block title %}
  Timeline
{% endblock %}
{% block headerinclude %}

{% endblock %}

{% block content %}
  {% load bleach_tags %}
  <div class="container mx-auto px-4">
    <h2 class="text-center mt-8 mb-8 text-3xl font-bold">Event Timeline</h2>

    <div class="flex flex-col items-center relative">
      <div class="absolute w-1 bg-primary h-full left-1/2 transform -translate-x-1/2"></div>
      
      {% for event in events %}
        <div class="flex flex-col md:flex-row w-full max-w-4xl mb-8 items-center">
          {% if forloop.counter0|divisibleby:2 %}
            <div class="order-1 w-full md:w-1/2 px-4 py-2 animate-fade-in-left">
              <div class="card bg-base-200 shadow-xl transition transform hover:scale-105 hover:shadow-2xl">
                <div class="card-body">
                  <a href="{% url 'event' event.slug %}" class="tooltip" data-tip="View Event Details">
                    <h3 class="card-title text-primary text-lg font-semibold">{{ event.title }}</h3>
                  </a>
                  <p class="mt-2">
                    <strong>Date and Time:</strong> {{ event.date }} {% if event.time %}
                      {{ event.time }}
                    {% endif %}
                  </p>
                  <p class="mt-2">{{ event.description|bleach }}</p>
                </div>
              </div>
            </div>
            <div class="order-2 w-6 h-6 rounded-full bg-primary border-4 border-base-100 z-10 animate-bounce"></div>
            <div class="order-3 w-full md:w-1/2"></div>
          {% else %}
            <div class="order-1 w-full md:w-1/2"></div>
            <div class="order-2 w-6 h-6 rounded-full bg-primary border-4 border-base-100 z-10 animate-bounce"></div>
            <div class="order-3 w-full md:w-1/2 px-4 py-2 animate-fade-in-right">
              <div class="card bg-base-200 shadow-xl transition transform hover:scale-105 hover:shadow-2xl">
                <div class="card-body">
                  <a href="{% url 'event' event.slug %}" class="tooltip" data-tip="View Event Details">
                    <h3 class="card-title text-primary text-lg font-semibold">{{ event.title }}</h3>
                  </a>
                  <p class="mt-2">
                    <strong>Date and Time:</strong> {{ event.date }} {% if event.time %}
                      {{ event.time }}
                    {% endif %}
                  </p>
                  <p class="mt-2">{{ event.description|bleach }}</p>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
