{% extends 'base.html' %}
{% block title %}
  {{ martyr.name }} - The Inquilab
{% endblock %}
{% block content %}
  {% load bleach_tags %}
  <div class="container mx-auto px-4 py-10 lg:w-2/3 md:w-3/4">
    <div class="bg-base-100 shadow-lg rounded-lg overflow-hidden">
      <div class="relative bg-primary text-primary-content">
        <figure class="overflow-hidden justify-center items-center">
          <img class="object-cover" loading="lazy" src="{{ martyr.image }}" alt="{{ martyr.name }}" />
        </figure>
        <div class="absolute bottom-0 left-0 right-0 p-4 bg-opacity-80 bg-primary">
          <h1 class="text-3xl font-bold">{{ martyr.name }}</h1>
          {% if martyr.birth or martyr.death %}
            <p class="text-sm mt-2">
              {% if martyr.birth %}
                Born: {{ martyr.birth }}
              {% endif %}
              <br />
              {% if martyr.death %}
                Died: {{ martyr.death }}
              {% endif %}
            </p>
          {% endif %}
        </div>
      </div>
      <div class="p-6">
        <p class="text-lg mb-4">{{ martyr.short_description|bleach }}</p>
        {% if martyr.long_description %}
          <div class="prose max-w-none">{{ martyr.long_description.description|bleach }}</div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
