{% extends 'base.html' %}

{% block title %}
  The Martyrs of the protest
{% endblock %}

{% block content %}
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-extrabold text-center mb-12 text-primary">Martyrs of Andolon</h1>
    {% load bleach_tags %}
    <div class="flex space-x-4 border-red-900">
      {% for martyr in martyrs %}
        <div class="card card-compact bg-base-100 w-96 shadow-xl">
          <figure>
            <img src="{{ martyr.image }}" alt="Shoes" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">{{ martyr.name }}</h2>
            <div class="description">{{ martyr.short_description|bleach }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
