{% extends 'base.html' %}
{% block title %}
  {{ martyr.name }} - The Inquilab
{% endblock %}
{% block content %}
  {% load bleach_tags %}
  <div class="container mx-auto px-4 py-10 lg:w-2/3 md:w-3/4">
    <!-- Card Container -->
    <div class="bg-base-100 shadow-xl rounded-lg overflow-hidden">
      <!-- Image Section -->
      <div class="relative">
        <img class="w-full h-full object-cover" loading="lazy" src="//wsrv.nl/?url={{ martyr.image }}" alt="{{ martyr.name }}" />
        <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent flex flex-col justify-end p-6">
          <div class="text-primary-content">
            <h1 class="text-4xl font-extrabold mb-2">{{ martyr.name }}</h1>
            {% if martyr.birth or martyr.death %}
              <p class="text-md font-medium">
                {% if martyr.birth %}
                  Born: {{ martyr.birth }}
                {% endif %}
                {% if martyr.death %}
                  <br />
                  Died: {{ martyr.death }}
                {% endif %}
              </p>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- Content Section -->
      <div class="p-6 bg-base-200">
        <div class="prose lg:prose-xl">
          <p class="text-lg mb-4">{{ martyr.short_description|bleach }}</p>
          {% if martyr.long_description %}
            <div class="text-base">
              {{ martyr.long_description.description|bleach }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
