{% extends 'base.html' %}

{% block title %}
  Submit a Report
{% endblock %}

{% block headerinclude %}
  <script src="https://cdn.jsdelivr.net/npm/tinymce@7.2.1/tinymce.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tinymce@7.2.1/skins/ui/oxide/content.min.css" />
{% endblock %}

{% block content %}
  <div class="max-w-3xl mx-auto p-6">
    <!-- Alert messages -->
    <div class="alert alert-success mb-6 shadow-md">
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M13 16h-1v-4h1v4zm0-6h-1V7h1v3z" />
        </svg>
        <p class="text-sm text-black">
          To add an image, upload it to <a href="https://imgbb.com" class="link">imgbb</a> or <a href="https://imgur.com" class="link">Imgur</a> and then use the image tool below.<br />
          For video uploads, please use YouTube with a temporary or throwaway account.
        </p>
      </div>
    </div>

    <!-- Form -->
    {% load crispy_forms_tags %}
    <form method="POST" class="space-y-6 bg-base-200 p-6 rounded-lg shadow-md">
      {% csrf_token %}
      <div class="form-control">{{ form|crispy }}</div>
      <button type="submit" class="btn btn-primary w-full">Submit Report</button>
    </form>
  </div>
{% endblock %}

{% block footerinclude %}
  <script>
    tinymce.init({
      selector: 'textarea#id_short_description',
      plugins: ['advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen', 'insertdatetime', 'media', 'table', 'help', 'wordcount'],
      toolbar: 'undo redo | image media | blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
      menubar: false
    })
  </script>
{% endblock %}
