{% extends 'base.html' %}

{% block title %}
  Quota Reform Protest Archive
{% endblock %}

{% block content %}
  {% load bleach_tags %}
  <div class="container mx-auto md:w-4/5 flex items-center justify-center mt-5">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {% for news in object_list %}
        <div class="card bg-base-100 shadow-md">
          {% if news.image %}
            <figure>
              <img src="{{ news.image }}" class="object-cover h-48 w-full" alt="{{ news.title }}" />
            </figure>
          {% endif %}
          <div class="p-6">
            <h3 class="text-xl font-semibold mb-2">{{ news.title }}</h3>
            <p class="mb-4 text-sm">
              {{ news.description|slice:":300" }}{% if news.description|length > 300 %}...{% endif %}
            </p>
            <div class="flex justify-between items-center">
              <a href="{{ news.link }}" class="btn btn-primary btn-sm" target="_blank" rel="noopener noreferrer">Read Full Article</a>
              <a href="{{ news.archive_link }}" class="btn btn-secondary btn-sm" target="_blank" rel="noopener noreferrer">View Archived</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
